@font-face {
  font-family: 'Signika';
  font-weight: 400;
  font-style: normal;
  src: url('./signika/Signika-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Signika';
  font-weight: 700;
  font-style: normal;
  src: url('./signika/Signika-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Signika';
  font-weight: 600;
  font-style: normal;
  src: url('./signika/Signika-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Signika';
  font-weight: 200;
  font-style: normal;
  src: url('./signika/Signika-Light.ttf') format('truetype');
}
