body {
  font-family: 'Signika';
  font-size: 12pt;
  font-weight: normal;
  color: #003366;
  background-color: #DFEFFF;
}

h1 {
  font-size: 28pt;
  font-weight: 700;
}

h2 {
  font-size: 22pt;
  font-weight: 700;
}

h3 {
  font-size: 18pt;
  font-weight: 700;
}

h4 {
  font-size: 16pt;
  font-weight: 600;
}

h5 {
  font-size: 14pt;
  font-weight: 600;
}

h6 {
  font-size: 12pt;
  font-weight: 600;
}

button {
  font-family: 'Signika';
}
